.base_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    // margin: 5px 8px;
        
    &:hover {
        opacity: 0.8;
    }
    
    &.btn-small {
        font-size: 12px;
    }
    
    &.btn-large {
        font-size: 20px;
        padding: 20px 40px;
    }
}