footer {
    padding: 0 32px;

    .separator{
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--color-principal);
    }

    .footer_content{
        display: grid; 
        grid-template-columns: 2fr 1.5fr 2.5fr; 
        gap: 0px 25px;
                
        .about{
            img{
                width: 200px;
            }

            p {

                svg {
                    color: var(--color-principal);
                }
            }
        }

        .policy{
            text-align: left;
            ul{
                list-style: none;
                padding: 0;
                li{
                    line-height: 32px;
                }
            }
        }
        .payment_method {
            display: flex;
            align-items: center;
            align-self: center;
            align-content: center;
            
            .card{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
        
                img {
                    margin: 8px;
                }
            }
        }
    }
    
        
    .copyright_area{
        border-top: 1px solid gray;
        display: flex;
        justify-content: space-between;

        p{
            font-family: roboto;
            font-size: 12px;
            span {
                color: var(--color-principal);
                font-size: 14px;
            }
            a{
                text-decoration: none;
                color: #000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) {
   footer{
        
    .footer_content {
        display: flex;
        flex-direction: column-reverse;

        .about{
            text-align: center;
        }

        .policy{
            text-align: center;
            ul{
              display: flex;
              justify-content: space-around;
                li{
                    line-height: 32px;
                }
            }
        }

        .payment_method {
        
            text-align: center;
        
            .card{
                display: flex;
                justify-content: inherit;
                flex-wrap: wrap;
                align-items: center;
    
                img {
                    margin: 8px;
                }
            }
        }

    }
    .copyright_area{
        display: flex;
        flex-direction: column;
        text-align: center;

        p{
            font-family: roboto;
            font-size: 12px;
            &:not(:first-child) {
                display: none;
            }
        }
    }
   }
}