footer {
    
    .footer_container {
        padding: 0 176px;
        background-color: var(--color-principal);
        color: #FFF;
    }

    .footer_content{
        display: grid; 
        grid-template-columns: 1fr 1fr 1.5fr 1fr; 
        gap: 0px 11px;
                
        .about{
            img{
                width: 200px;
            }

            p {

                svg {
                    color: var(--color-principal);
                }
            }
        }

        .policy{
            text-align: left;

            h3{
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    line-height: 32px;

                    a {
                        text-decoration: none;
                        color: #FFF;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
        .payment_method {
            h3{
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            
            .card{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
        
                img {
                    margin-right: 8px;
                }
            }
        }

        .social_media {
            h3 {
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .icons{

                svg{
                    width: 29px;
                    height: 27px;
                }
            }
        }
    }
    
        
    .copyright_area{
        padding: 0 176px;
        background-color: #CE3042;
        display: flex;
        justify-content: space-between;

        p{
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            a{
                text-decoration: none;
                color: #FFF;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .copyright_links {
            display: flex;
            justify-content: space-around;
            gap: 15;

            p{
                margin-right: 32px;
            }
        }
    }
}


@media only screen and (max-width: 900px) {
   footer{

    .footer_container {
        padding: 0;
        .footer_content {
            display: flex;
            flex-direction: column-reverse;
    
            .about{
                text-align: center;
            }
    
            .policy{
                text-align: center;
                ul{
                  display: flex;
                  justify-content: space-around;
                    li{
                        line-height: 32px;
                    }
                }
            }
    
            .payment_method {
            
                text-align: center;
            
                .card{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
        
                    img {
                        margin: 8px;
                    }
                }
            }
    
            .social_media {
                text-align: center;
            }
    
        }
    }
        
    .copyright_area{
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;

        p{
            font-family: roboto;
            font-size: 12px;
            
        }
        .copyright_links {
            width: 100%;
        }
    }
   }
}